body {
  font-family: Arial, sans-serif;
  background: #272727;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: rgb(226, 225, 225);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 400px;
}

input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  background: #959191;
  padding: 10px;
  border-radius: 5px;
}